.car{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-photo {
    /* flex: 1; */

  
}

img {
    width: 35%;
    height: 100%;
}

.car-details {
    flex-grow:1;
}

.car-year-make-model{
    border: 1px solid black;
}

/* .car-photo{
    width: 50%;
    height: 100%;
}

.car-title-price{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width:100%;

}

.car-price{
    color: brown;
    padding-left: 5%;
}

.car-year-make-model{
    font-size: 200%;
    font-weight: 500;
    padding-right: 5%;
} */