.car{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 75%;
    height: 15rem;
    font-family: 'Titillium Web', sans-serif;
}


.car-details {
    position:relative;
    height: 100%;
    flex-grow:1;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 25% 25% 25% 25% ;
    grid-template-areas: 
    "t t t t t t t t p p p p"
    "t t t t t t t t e e e e"
    "m m m . . . . . . . . ."
    "l l l l tp tp tp tp a a a a"
}

.car-year-make-model{
    border: 1px solid black;
    grid-area: t;
    font-weight: 700;
    font-size: 2rem;
    width: 95%;
    /* padding: 1.1rem 0rem 1.1rem .7rem; */
    position:absolute;
    left: 1.5rem;
    text-align: start;

}

.car-milage {
    grid-area: m;
    font-size: 1.2rem;
    position: absolute;
    left: 1.5rem;
    text-align: start;
}

.car-price{
    grid-area: p;
    font-weight: 700;
    font-size: 2rem;
}

.car-estimate{
    grid-area: e;
    font-size: 1.0rem;
}

.car-city-state {
    grid-area: l;
    font-size: 1.2rem;
    position:absolute;
    left: 1.5rem;
    text-align: start;
    padding-top: .7rem;
}

.car-track-price {
    grid-area: tp;
    font-size: 1.2rem;
}

.car-availability {
    grid-area: a;
    font-size: 1.2rem;
}

.car-availability:hover {
    border: 1px solid red;
    background-color: red;
    border-radius: 40px;
    color: white;
}

button {
    border: none;
    padding: 0;
    background: none;
    font-size: 1rem;
    color: rgb(232, 61, 61)
}

img {
    width: 100%;
    height: 100%;
    position: relative;
}

.car-heart-img {
    position: relative;
    width: 25%;
    height: 100%;
    color: red;
}

.car-heart {
    position:absolute;
    top: 5px;
    right: 5px;
    z-index: 1;

}





